html, body {
    min-height: 100%;
    width: 100%;
    background-color: lightgray;
    font-family: Arial, serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin: auto;
    justify-content: center;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

#char {
    width: 50%;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    justify-content: space-around;
    font-size: 0;
}

.button {
    width: 33.33%;
    color: white;
    padding: 4px 8px;
    font-size: 13px;
    min-width: 64px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}
.button span {
    display: block;
    margin-bottom: -16px;
    user-select: none
}